 #include('../../template/head.html')
<title>行情</title>
<meta name="description" content="">
</head>

<body>
    <div class="container-fluid main-page">
        #include('../../template/nav.html')
        <div class="row">
            <div class="col col-md-6">
                #include('../../template/tools/chart.html')
            </div>
            <div class="col col-md-6">
                #include('../../template/tools/table.html')
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                #include('../../template/tools/info.html')
            </div>
            <div class="col col-md-6">
                #include('../../template/tools/tool.html')
            </div>
        </div>
    </div>
</body>

</html>