<!--计算器-->
<div class="caculator active">
    <div class="item__1">
        <div class="form_item">
            票面金额：
        </div>
        <div class="form_item">
            <input type="text" class='form-control'>
        </div>
        <div class="form_item">
            万
        </div>
    </div>
    <div class="item__1">
        <div class="form_item">
            月利率（%）：
        </div>
        <div class="form_item">
            <input type="text" class='form-control'>
        </div>
        <div class="form_item">

        </div>
    </div>
    <div class="item__1">
        <div class="form_item">
            年利率（%）：
        </div>
        <div class="form_item">
            <input type="text" class='form-control'>
        </div>
        <div class="form_item">

        </div>
    </div>
    <div class="item__1">
        <div class="form_item">
            每十万扣：
        </div>
        <div class="form_item">
            <input type="text" class='form-control'>
        </div>
        <div class="form_item">
            元
        </div>
    </div>
    <div class="item__1">
        <div class="form_item">
            贴现日：
        </div>
        <div class="form_item">
            <input type="text" class='form-control'>
        </div>
        <div class="form_item">

        </div>
    </div>
    <div class="item__1">
        <div class="form_item">
            到期日：
        </div>
        <div class="form_item">
            <input type="text" class='form-control'>
        </div>
        <div class="form_item">

        </div>
    </div>
    <div class="item__1">
        <div class="form_item">
            调整天数：
        </div>
        <div class="form_item">
            <input type="text" placeholder="请输入调整天数" class='form-control'>
        </div>
        <div class="form_item">

        </div>
    </div>
    <div class="item__1">
        <div class="form_submit">
            <input type="button" class='btn btn-warning' value='计算'>
        </div>
        <div class="form_submit">
            <input type="button" class='btn btn-default' value='重置'>
        </div>
    </div>
</div>