<!--公示催告查询-->
<div class="telNotice negative">
    <div class="item__2">
        <div class="form_item">
            票号
        </div>
        <div class="form_item" style='text-align:center'>
            <input type="text" placeholder="请输入16位票号" class='form-control'>
        </div>
    </div>

    <div class="item__2">
        <div class="form_item" style='text-align:center'>
            <input type="button" class='btn btn-warning' value='查询'>
        </div>
    </div>
    <div class="item__2">
        <div class="form_item" style='width:150px'>免责声明：</div>
        <div class="form_item" style='text-align:left'>
            1.公示催告数据来源于人民法院报、其他省市法制报及全国范围内的其他报纸；
            <br> 2.本网站旨在最大化帮助用户识别汇票业务风险，因未收录相关公示催告数据导致的风险，<br>与本网站无关。
        </div>
    </div>
</div>